<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <title>Countries</title>
</head>
<body>


<div class="ui-icon-grip-solid-horizontal">

    <hr>
    <form action="#" th:action="@{/index}" th:method="post">
        <label for="title_input">Ввод</label>
        <input id="title_input" name="code" type="text" placeholder="Enter title" required>
        <input type="submit" value="Ввод" class="input_submit">
    </form>
    <hr>

</div>
<div>
    <button type="button" class="dropleft" >Название страны:</button>
    <button type="button" class="ui-icon-arrow-2-ne-sw" th:text="${country.name}">name</button>
    <hr>
    <button type="button" class="ui-icon-arrow-2-ne-sw">Население:</button>
    <button type="button" class="ui-icon-arrow-2-ne-sw" th:text="${country.getPopulation()}" >population</button>
    <hr>
    <button type="button" class="ui-icon-arrow-2-ne-sw">Континент:</button>
    <button type="button" class="ui-icon-arrow-2-ne-sw" th:text="${country.getContinent()}" >continent</button>
    <hr>
    <button type="button" class="ui-icon-arrow-2-ne-sw">ВВП:</button>
    <button type="button" class="ui-icon-arrow-2-ne-sw" th:text="${country.getGNP()}" >GNP</button>
    <hr>
    <button type="button" class="ui-icon-arrow-2-ne-sw">Форма правления:</button>
    <button type="button" class="ui-icon-arrow-2-ne-sw" th:text="${country.getGovernmentform()}" >GNP</button>
    <hr>
    <button type="button" class="ui-icon-arrow-2-ne-sw">Глава госсударства:</button>
    <button type="button" class="ui-icon-arrow-2-ne-sw" th:text="${country.getHeadofstate()}" >GNP</button>
</div>

</body>
</html>